.git
.gitignore
.gitattributes
.editorconfig
.env
.env.backup
.env.production
.phpunit.result.cache
node_modules
npm-debug.log
vendor
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*
tests
.DS_Store
Thumbs.db
*.md
!README.md
mysql_data
mysql_data/*
**/mysql.sock

